<section ng-controller="ibtestadminCtrl">
    <div class="container-fluid">
        <div class="spacer35"></div>
        <h2>
            IB Test Administration
        </h2>
            
        <div class="clearfix"></div>
        <div class="spacer35"></div>   
            
        <form name="testcreate" novalidate>
            <div class="row">
                <div class="col-sm-10">
                    <fieldset>
                        <legend class="smallegend">Create a new test</legend>
                        <label class="initialcapital col-sm-2 control-label required">Test Method</label> 
                        <div class="col-sm-3">
                            <select ng-model="newIBtest.testMethod" ng-options="obj.etestMethod for obj in ibtestMethods" class="form-control" ng-required = "true"></select>
                        </div>
                        </br></br>
                        <label class="initialcapital col-sm-2 control-label required">Test Name</label>
                        <div class="col-sm-3">
                            <input type="text" ng-model="newIBtest.testName" ng-required = "true" class="form-control">
                        </div>
                        </br></br>
                        <div class="col-sm-6">
                            <div class="spacer10"></div>
                            <button class="btn btn-success pull-right" ng-click="create(newIBtest)">Create</button>
                        </div>
                    </fieldset>
                </div>
            </div>
        </form>
            
        <div class="spacer35"></div>
            
        <form name="listofIBtests" novalidate>
            <fieldset>
                <legend class="smallegend">Edit IB Tests</legend>
                <div class="row" ng-show="true">
                    <div class="col-sm-12">
                        <table id="ibTestlisttable" class="table table-condensed table-responsive table-bordered table-striped table-hover">
                            <thead id="headers">
                                <tr>
                                    <th>Test Method</th>
                                    <th>Test Name</th>
                                    <th>Update</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="e in ibtestList" >
                                    <td><input ng-model="e.testMethod.etestMethod" class="form-control" ng-readonly="true"></td> 
                                    <td><input ng-model="e.testName" class="form-control"></td>
                                    <td><button class="btn btn-primary " ng-click="updateTest(e)">Update</button></td> 
                                    <td><button class="btn btn-danger" ng-click="confirmDeletionTest(e)">Delete</button></td> 
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</section>